@model LeagueLeak.Web.Models.Players.PlayerDetailsViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Details for @Model.Name</h2>

<div class="row container">
    <div class="col-md-6">
        <table class="table table-striped table-hover ">
            <tbody>
                <tr>
                    <td>Wins</td>
                    <td>@Model.Wins</td>
                </tr>
                <tr>
                    <td>Loses</td>
                    <td>@Model.Loses</td>
                </tr>
                <tr>
                    <td>Kills</td>
                    <td>@Model.Kills</td>
                </tr>
                <tr>
                    <td>Deaths</td>
                    <td>@Model.Deaths</td>
                </tr>
                <tr>
                    <td>Assists</td>
                    <td>@Model.Assists</td>
                </tr>
                <tr>
                    <td>Rating</td>
                    <td>@Model.Rating</td>
                </tr>
                <tr>
                    <td>Skill Score</td>
                    <td>@String.Format("{0:F2}", Model.SkillScore)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        @(Html.Kendo().Chart()
             .Name("chart")
            .Title("Win/Lose Ratio")
            .Legend(legend => legend
                .Position(ChartLegendPosition.Top)
            )
            .Series(series =>
            {
                series.Pie(new dynamic[] {
                    new {category = "Loses" ,value = @Model.Loses},
                    new {category = "Wins" ,value = @Model.Wins}
                })
                .Labels(labels => labels
                    .Visible(true)
                    .Template("#= category # - #= kendo.format('{0:P}', percentage)#")
                );
            })
            .Tooltip(tooltip => tooltip
                .Visible(true)
                        .Template("#= category # - #= kendo.format('{0:P}', percentage)#")
            )
        )
    </div>
    <script>
        $(document).ready(function () {
            $(".configuration").bind("change", refresh);
        });

        function refresh() {
            var chart = $("#chart").data("kendoChart"),
                pieSeries = chart.options.series[0],
                labels = $("#labels").prop("checked"),
                alignInputs = $("input[name='alignType']"),
                alignLabels = alignInputs.filter(":checked").val();

            chart.options.transitions = false;
            pieSeries.labels.visible = labels;
            pieSeries.labels.align = alignLabels;

            alignInputs.attr("disabled", !labels);

            chart.refresh();
        }
    </script>
</div>

