@model LeagueLeak.Web.Models.Guides.AddGuideViewModel
@{
    ViewBag.Title = "Add Guide";
}

@using (Html.BeginForm("Add", "Guides", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    
    <fieldset>
        <legend>Add New Guide</legend>
        <div class="row">
            <div class="form-group">
                <div class="col=md-3">
                    Select Champion
                </div>
                <div class="col-md-6">
                   

                    @*<select>
                        @foreach (var item in @Model.ChampionNames)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>*@
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col=md-3">
                    Select Spell
                </div>
                <div class="col-md-6">
                    <select>
                        @foreach (var item in @Model.SpellNames)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        
    </fieldset>
}
   