<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - League Leak</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/kendo")
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("LeagueLeak", "Index", "Home", new { area = string.Empty }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" id="menu">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("ALL CHAMPIONS", "All", "Champions", new { area = string.Empty }, null)</li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">GUIDES<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("ALL GUIDES", "All", "Guides", new { area = string.Empty }, null)</li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li>@Html.ActionLink("CREATE A GUIDE", "Add", "Guides", new { area = string.Empty }, null)</li>
                            }
                        </ul>
                    </li>
                    <li>@Html.ActionLink("PLAYER LEADERBOARDS", "Leaderboards", "Players", new { area = string.Empty }, null)</li>
                    @using (Html.BeginForm("Details", "Players", FormMethod.Post, new { @class = "navbar-form navbar-left" }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="text" class="form-control col-lg-8" placeholder="Search for a player..." name="name">
                    }
                    @if (User.IsInRole("Administrator"))
                    {
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">ADMINISTRATION<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("CHAMPIONS", "Index", "Champions", new { area = "Administration" })</li>
                                <li>@Html.ActionLink("SPELLS", "Index", "Spells", new { area = "Administration" })</li>
                                <li>@Html.ActionLink("ARTICLES", "Index", "Articles", new { area = "Administration" })</li>
                            </ul>
                        </li>
                    }
                    </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container">

    </div>
    <br />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>&copy; League Leak</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    @RenderSection("scripts", required: false)
</body>
</html>
