@using LeagueLeak.Web.Models
@model LeagueLeak.Web.Models.Articles.ArticleDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<div class="jumbotron">
    <h1>@Model.ArticleTitle</h1>
    <div class="row">
        <em>@Model.DateCreated</em>
    </div>
    <div class="row">
        <p>@Model.Content</p>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="row">
            @Html.Partial("_PostComment", new CommentsViewModel()
       {
           ArticleId = @Model.Id
       })
        </div>
        <br/>
        <div id="comments">
            @foreach (var comment in @Model.Comments)
            {
                @Html.Partial("_CommentsSection", comment)
            }
        </div> 
    }



</div>

@section scripts {
    @Scripts.Render("/Scripts/jquery.unobtrusive-ajax.js")
}