@model LeagueLeak.Web.Models.Articles.ArticleDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<div class="jumbotron">
    <h1>@Model.ArticleTitle</h1>
    <div class="row">
        <em>@Model.DateCreated</em>
    </div>
    <div class="row">
        <p>@Model.Content</p>
    </div>
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Comments</h3>
            </div>
            <div class="panel-body">
                @foreach (var comment in @Model.Comments)
                {
                    <p>@comment.Content</p>
                    <p>on @comment.DateCreated, by @comment.AuthorName</p>
                }
            </div>
        </div>
    </div>
</div>
