@model LeagueLeak.Web.ViewModels.Players.PlayerViewModel
@{
    ViewBag.Title = "Player";
}

<h2>@ViewBag.Title</h2>
    
<div>
    <p>Name: @Model.Name</p>
    <p>Wins: @Model.Wins</p>
    <p>Loses: @Model.Loses</p>
    <p>Kills: @Model.Kills</p>
    <p>Deaths: @Model.Deaths</p>
    <p>Assists: @Model.Assists</p>
    <p>Rating: @Model.Rating</p>
</div>